@font-face {
    font-family: "Teko";
    src: url("assets/fonts/Teko-Light.ttf");
  }

@font-face {
    font-family: "Teko";
    src: url("assets/fonts/Teko-Medium.ttf");
  }

  * {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.5;
    font-family: "Teko", sans-serif;
    min-height: 100vh;
    margin:0;
    color: #34495E;
  }
  header{
    margin: 0;
    font: 18px/2 "Teko", sans-serif;
    background-color: #F5B7B1 ;
}
  nav{
    font: 18px/2 "Teko", sans-serif;
}
.nav-list{
    margin: 0;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    list-style: none;
    transition: 0.3s
}
.nav-link{
    padding: 0 20px;
    font-size: 24px;
    line-height: 50px;
    color: #F8F9F9 ;
    text-decoration: none;
}
.nav-link:hover {
color: #F9EBEA ;
}
/* Section Profile */
.section-profile{
    width: 100%;
}
.section-profile{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.name{
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
}
.profile-photo{
    margin: auto;
}
.photo{
    width: 550px;
    height: 500px;
    border-radius: 30%;
}
.profile-info{
    margin: auto;
}
/* Container-main*/
.container-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section{
    width: 50%;   
}
@media (max-width: 760px){
    .section{
        width: 100%;
    }
}
.title{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    text-align: center;
}
/* Section Contacts */
.contacts-list{
    list-style: none;
    margin:auto;
}
.contacts-item{
    list-style: none;
    transition: 0.3s;
}
.contacts-info{
    display:flex;
    flex-direction: row;
    width: 50%;
    margin-left: 50px;
}
.contacts-img{
    height: 25px;
    width: 25px;
    flex-shrink: 1;
}
.contacts-data{
    padding-left: 20px;
}
.contacts-link{
    font-size: 24px;
    text-decoration: none;
    color: #34495E;
}
.contacts-link:hover {
color: #61100a ;
}
/* Section Summary*/
.summary-info{
    margin: 0;
    padding: 0 30px;
}
/* Section Skills*/
.skills-list{
    margin-left: 30px;
}
.skills-item{
    list-style: circle;
    padding-left: 10px;
}
.skills-data{
    font-weight: 500;
    margin: 0;
}
.skills-data-addition{
    font-weight: 300;
    color: #D98880;
}
/* Section Languages*/
.language{
    margin-left: 20px;
}
.language-item{
    list-style: circle;
    padding-left: 10px;
}

.language-name{
    font-weight: 500;
    margin: 0;
}
.language-level{
    font-weight: 300;
    color: #D98880;
}
.language-link{
    font-size: 24px;
    text-decoration: none;
    color: #34495E;
}
.language-link:hover {
    color: #61100a ;
    }
/* Section Education*/
.education-item{
    list-style: none;
    padding-left: 10px;
    display:flex;
    flex-direction: row;
}
.education-status{
    margin: 0 5px;
}
.education-done{
    width: 18px;
    height: 18px;
}
.education-data{
    font-weight: 500;
    margin: 0;
}
.education-data-addition{
    font-weight: 300;
    color: #D98880;
}
/* footer*/
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-date{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.date-info{
    margin: 0 20px;
    font-size: 48px;
}
.copyright-symbol{
    width: 32px;
    height: 30px;
}
.footer-github{
    margin: 0 20px;
}
.footer-link{
    font-size: 48px;
    text-decoration: none;
    color: #34495E;
}
.footer-link:hover {
color: #61100a ;
}
.footer-school{
    margin: 0 20px;
}
.rs-school-link{
    text-decoration: none;
    color: #34495E;
}
.rs-school-link:hover {
    color: #61100a ;
    }
.school-logo{
    width: 150px;
    height: max-content;
}